@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: var(--dark);
  scroll-behavior: smooth;
}
body {
  visibility: hidden;
}
:root {
  --accent: #ec1b5b;
  --dark: #603813;
  --lgt-bg: #fcfcfc;
}
header {
  background: #ec1b5b;
  width: 100%;
  height: 6vh;
  min-height: 40px;
  color: #f2cbd7;
}

.top-header {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-header p {
  letter-spacing: 3px;
  font-weight: bolder;
  color: #f5dce4;
}
.inner-container {
  width: 1280px;
  margin: 0 auto;
}
.hero {
  height: 94vh;
  background: url("imgs/hero.jpg");
  background-position: center;

  background-size: cover;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.content-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.intro-animation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--lgt-bg);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--dark);
  flex-direction: column;
}
.intro-animation span {
  font-family: "Chewy", cursive;
  letter-spacing: 2px;
}

/* ----------------------------------------MOBILE MENU------------------------ */
.side-nav {
  text-align: center;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  transition: all 0.4s linear;
  z-index: 5000;
}
.side-nav ul {
  margin-top: 7rem;
}
.side-nav li {
  list-style: none;
  margin: 1rem 0;
}

.side-nav a {
  color: var(--dark);
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.1s ease;
  font-family: "Chewy", cursive;
}

#close-btn {
  position: absolute;
  display: none;
  right: 5%;
  top: 2%;
  font-size: 2rem;
  color: var(--accent);
}
#side-list {
  opacity: 0;
  transition: all 0.2s ease;
}
#side-list p {
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 2rem;
}
.pop-menu {
  position: absolute;
  right: 0;
  top: 10%;
  width: 40px;
  height: 30px;
  display: none;
  align-items: center;
}
.pop-menu:hover {
  cursor: pointer;
}
.pop-icons {
  display: inline-block;
  padding-right: 0.5rem;
}
.pop-icons i {
  color: #000;
}
.pop-menu:focus {
  outline: var(--grytxt) 2px solid;
}
.line {
  position: relative;
  width: 50%;
  margin-left: 50%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

.line::before {
  position: absolute;
  top: -10px;
  right: 0;
  width: 150%;
  content: "";
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

.line::after {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 150%;
  content: "";
  height: 3px;
  background: #fff;
  border-radius: 5px;
}
nav {
  position: absolute;
  top: 10%;
  transition: all ease 1s;
  overflow: hidden;
}
nav li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
}

.nav-animation,
.i-animation {
  transform: translateY(-400%);
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  font-family: "Chewy", cursive;
}

.socials {
  position: absolute;
  right: 0;
  top: 10%;
  overflow: hidden;
}
.socials i {
  padding: 0 1rem;
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.socials i:hover,
nav a:hover {
  color: var(--accent);
  cursor: pointer;
}
.hero-logo {
  width: 35%;
  max-width: 800px;
  min-width: 20rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#scroll-down {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 2rem;

  animation: bounce 1.5s infinite;
}
.scroll-container {
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#scroll-down:hover {
  animation-play-state: paused;
  cursor: pointer;
}
/* -----------------------------------about----------------------------------------------- */
.pattern {
  width: 100%;
  background: url("imgs/papyrus.png");
  padding: 10rem 0;
}

.about-container {
  height: 100%;

  margin: 0 auto;
  background: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
  position: relative;

  box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.4);
}
.side-banner {
  position: absolute;
  left: -6%;
  top: 11%;
  padding: 1rem 5rem;
  transform: rotate(315deg);
  font-size: 1.5rem;
  background: var(--accent);
  color: #f5dce4;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  z-index: 99;
}
.pattern h2 {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 3rem;
  letter-spacing: 3px;
  font-family: "Chewy", cursive;
}

.pattern h2::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  border-radius: 10px;
  bottom: -40%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--accent);
}

.about-grid {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem;
  padding-bottom: 5rem;
}
.icon {
  filter: invert(24%) sepia(82%) saturate(6113%) hue-rotate(332deg)
    brightness(96%) contrast(93%);
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 5px rgb(182, 182, 182));
  position: relative;
}
.about-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
}

.about-card:nth-child(2) {
  border-left: 3px solid #f1f1f1;
  border-right: 3px solid #f1f1f1;
}
.about-card h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.about-card p {
  width: 75%;
  line-height: 1.6;
}

/* -----------------------------------------------shop------------------------
 */

#shop {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--lgt-bg);
  padding: 10rem 0;
}

.shop-banner {
  width: 110%;
  top: -0.5%;
  position: absolute;
  right: -5%;
  overflow: hidden;
}

.shop-container {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shop-container img {
  width: 50%;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
}

.shop-text {
  background-color: #fff;
  padding: 3rem;
}

.shop-text h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 2rem;
  font-family: "Chewy", cursive;
}

.shop-text h2::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 3.5px;
  background-color: var(--accent);
  border-radius: 10px;
  bottom: -20%;
  left: 0;
}
.shop-text p {
  margin-top: 3rem;
  line-height: 1.6;
}

.shop-text h3 {
  margin: 2rem 0 1.5rem 0;
}

.shop-text li {
  list-style: none;
  margin: 1.2rem 0;
  position: relative;
}

.shop-text li span {
  display: inline-block;
  margin-left: 2rem;
}
.shop-text li::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("imgs/chocolate-fudge.svg");
}
/* -----------------------------------------carousel----------------------------- */

#img-carousel {
  height: 70vh;

  background-color: white;
}
.img-grid {
  display: grid;
  grid-template-areas:
    "one one two two five five six seven"
    "one one three four five five eight eight";
  gap: 15px;
  height: 100%;
}

.img1 {
  grid-area: one;
  background: url(imgs/grid/1-min.jpg);
  background-position: bottom center;
}
.img2 {
  grid-area: two;
  background: url(imgs/grid/2-min.jpg);
  background-size: cover;
}

.img3 {
  grid-area: three;
  background: url(imgs/grid/3-min.jpg);
  background-size: cover;
}

.img4 {
  grid-area: four;
  background: url(imgs/grid/4-min.jpg);
  background-size: cover;
}

.img5 {
  grid-area: five;
  background: url(imgs/grid/5-min.jpg);
  background-size: cover;
}

.img6 {
  grid-area: six;
  background: url(imgs/grid/6-min.jpg);
  background-size: cover;
}

.img7 {
  grid-area: seven;
  background: url(imgs/grid/7-min.jpg);
  background-size: cover;
}

.img8 {
  grid-area: eight;
  background: url(imgs/grid/8-min.jpg);
  background-size: cover;
}

/* ---------------------------form--------------------------------------------- */

.pattern a {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
}

#contact p {
  margin-bottom: 2rem;
}
.contact-form label {
  display: block;
  text-align: left;
  margin-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 2px solid #f1f1f1;
  font-size: 1rem;
}

.contact-form textarea {
  margin-top: 1rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--dark);
}

.contact-form-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}

.contact-form button {
  color: #f5dce4;
  background-color: var(--accent);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  margin-right: 100%;
}

/* ----------------------------------------footer---------------------- */

footer {
  background: var(--lgt-bg);
  padding: 5rem 0 2rem 0;
  color: var(--dark);
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.footer-grid p {
  color: #929292;
  line-height: 1.8rem;
}

.footer-grid h3 {
  margin-bottom: 0.5rem;
}
.sub-logo h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: "Chewy", cursive;
}
.contact-details {
  position: relative;
}

.contact-details a {
  text-decoration: none;
  color: #929292;
}
.footer-socials {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-socials i {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #929292;
}
.lower-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.lower-footer a {
  text-decoration: none;
  font-family: "Pacifico", cursive;
}
@keyframes bounce {
  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* 
-----------------media----------------------- */

@media (max-width: 1400px) {
  .img-grid {
    grid-template-areas:
      "one one two two"
      "one one three four";
  }

  .img5,
  .img6,
  .img7,
  .img8 {
    display: none;
  }
  .coming-soon-banner {
    left: -8%;
  }
  .inner-container {
    width: 1024px;
  }
  .shop-container {
    margin-top: 5rem;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .inner-container {
    width: 850px;
  }
  html {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .about-grid {
    display: block;
  }
  .about-card {
    width: 100%;
  }
  .about-container {
    width: 70%;
    overflow: hidden;
  }

  .side-banner {
    display: none;
  }
  .about-card:nth-child(2) {
    border: none;
  }
  .circle {
    margin-top: 2rem;
  }
  .top-header {
    width: 90%;
  }

  .content-container {
    width: 90%;
  }
  .inner-container {
    width: 90%;
  }
  .shop-banner {
    width: 100rem;
  }
  .shop-container {
    display: block;
    overflow: hidden;
  }
  .shop-container img {
    display: none;
  }
  .shop-text {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
  }
}
@media (max-width: 768px) {
  nav,
  .socials {
    display: none;
  }
  .pop-menu {
    display: block;
  }
  .img-grid {
    grid-template-areas:
      "two two"
      "three four";
  }
  .img1 {
    display: none;
  }
}
@media (max-width: 500px) {
  .intro-animation {
    font-size: 2rem;
  }
  .about-container {
    width: 100%;
  }
  .img1 {
    display: none;
  }
  .top-header p:last-child {
    display: none;
  }
  .hero-logo {
    width: 20rem;
  }

  .about-card p {
    width: 90%;
  }
  .sub-logo {
    display: none;
  }

  .top-header p {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .intro-animation {
    font-size: 1.5rem;
  }
  .shop-text li {
    font-size: 0.8rem;
  }
}
